html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: $main-font;
  color: $black;

  box-shadow: 0 1px 0 0 $gray;
  max-width: 100%;
}

.page-main {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .page-main {
    padding-top: 45px;
  }

  .container {
    width: 100%;
    max-width: 1220px;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0;
  }
}
